<div class="modal fade" id="modal-confirm">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirme</h3>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="modal-footer">
        <a class="btn" data-toggle="modal" href="#modal-confirm">No</a>
        <a href="#" class="btn btn-primary respuesta-si">Si</a>
    </div>
</div>