body{
    padding-top: 70px;
}

.nav img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

table .link-imagen{
    text-align: center !important;
    width: 50px;
}

table .link-imagen img{
    width: 20px;
}

form .control-group{
    margin-bottom: 5px !important;
}

.modal form{
    margin: 0px !important;
}

table.presupuesto img{
    width: 20px;
}
table.presupuesto td{
    padding: 0px;
    z-index: 1;
    background-color: transparent !important;
}

table.presupuesto input{
    margin-bottom: 0px;
    z-index: 1;
}
table.presupuesto  tbody input{
    border-style: none;
    background-color: transparent;    
}

td.subtotal{
    padding-right: 20px !important;
    text-align: right !important;
}

.fondo-sortable-elemet{
    height: 50px;
    width: 100%;
}

table.presupuesto tbody tr:hover{
    box-shadow: 0px 0px 20px #222;
    margin-top: -10px;
}
table.presupuesto tbody tr:hover td{
    margin-top: -10px;
    padding: 5px;
    z-index: 10;
    background-color: #eee !important;
}
table.presupuesto tbody tr:hover input{
    border-style: solid;
    background-color: white;
}
table.presupuesto tfoot td{
    padding: 3px;
}
td.orden{
    text-align: center 
}
.loading{z-index: 9999;display: none}
.loading img{position: fixed; margin-left: -56px;margin-top: -56px;top: 50%;left: 50%}
.loading, .loading div{position: fixed;width: 100%;height: 100%;top: 0;left: 0}
.loading div{opacity: 0.6;background-color: #000;filter: alpha(opacity = 60)}
.botones-edicion{display: none}
.manos_de_obras_list select,
.manos_de_obras_list textarea,
.manos_de_obras_list input{width: 90%}
.td-posicion > span{line-height: 30px;vertical-align: top;display: inline-block;margin-left: 10px}
.td-posicion i{display: none}
.td-posicion:hover i{display: block}